@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  background: #000000;
  display: none;

}
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#DDBA00), to(#FF3E2C));
  border-radius: 100px;
  height: 200px;
}

::-webkit-scrollbar-thumb:active {
  background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#DDBA00), to(#FF3E2C));
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;

}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor:pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
header #toggle::after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner.active header #toggle:before{
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%) rotate(45deg);

}
.banner.active header #toggle::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
 
 }
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: gray;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
z-index: 2;
}
.banner.active{
    transform: translateX(400px);
}
#navigation{
    position: fixed;
    top: 0;
    left: 0px;
    width: 400px;
    height: 100vh;
    background: #000000;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
    right: 0;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;
}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
#navigation ul li a:hover, a:active, a:focus{
    color: yellow;
}
.contenedor{
    height:240px;
    display:flex;
    justify-content: space-between;
    flex-flow:row wrap;
    align-content:space-around;
}
.elemento{
    width:25%;
}


.content{
    position: relative;
    bottom: 30px;
}
.content h2{
    f    font-size: 40px;
    line-height: 1.10909;
    font-family: "Reggae One script=latin rev=1 , cursive";
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 2.5em;
     
}

.content h2 span{
  animation: bounce .5s alternate infinite ease-in;
}

@media screen and (min-width:701px) {
    @keyframes bounce {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
  
  h2 span {
     font-family: "Ballet script=all rev=1";
    font-weight: 400;
    font-style: normal;
    color: yellow;
    font-size: 1.2em;
    display: inline-block; /*needed to trigger update */
  }
}


.content p{
    font-family: "Ballet script=all rev=1";
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 10%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#DDBA00), to(#FF3E2C));
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.content a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;

   transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.efecto{
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.efecto:hover{
  -webkit-transform: perspective(150px) rotateX(45deg);
  transform: perspective(150px) rotateX(45deg);
}

.img{
  clip-path: circle(50%);
}


.title {
  margin-top: 25px;
}

.title span {
  font-size: 25pt;
  font-weight: bold;
  position: relative;
  top: -40px;
  left: 50px;
  font-family: "Fredoka One";
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.title span::before {
  content: var(--l);
  position: absolute;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.title span::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 80%;
  left: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: rotateX(50deg);
          transform: rotateX(50deg);
}

.title span:hover {
  -webkit-filter: contrast(250%);
          filter: contrast(250%);
}

.title span:nth-child(1) {
  color: white;
}

.title span:nth-child(2) {
  color: red;
}

.title span:nth-child(3) {
  color: #ff4d00;
}

.title span:nth-child(4) {
  color: #ffe600;
}

.title span:nth-child(5) {
  color: red;
}

.title span:nth-child(6) {
  color: white;
}

.title span:nth-child(7) {
  color: red;
}

.title span:nth-child(8) {
  color: #ff4d00;
}

.title span:nth-child(9) {
  color: #ffe600;
}

.title span:nth-child(10) {
  color: red;
}
.title span:nth-child(11) {
  color: white;
}
.blend img {
  mix-blend-mode: darken;
}
.blend img:hover{
  mix-blend-mode: normal;
}
.social i{
  font-size: 20px;
  margin: 0 2px;
  color: black;
}
.social i:hover{
  font-size: 30px;
  margin: 0 2px;
  color: orange;
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #000000;
  color: white;
  text-align: center;
    
}
@media screen and (max-width: 800px){
    footer{
      width: 100%;
    }
   header{
    width: 100%;
   }
   img{
    width: 100%;
    height: 50%;
   }
   p{
    width: 100%;
   }
   h2{
    width: 20%;
    height: 20%;
   }
   .banner{
    width: 100%
   }

}

  @media (max-width: 767px){
    header{
        padding: 20px 50px;
    }
    .banner{
        padding: 100px 50px 150px;
    }
}
@media (max-width: 366px){
    img{
        width: 100%;
    height: 50%;
    }
    .banner{
    width:  50px 50px 50px;
   }

 
}
@media (min-width: 335%){
    img{
        width: 100%;
    height: 50%;
    }
   footer{
    width:29%;
   }
    #navigation{
    width: 29%
   }
 
}

@media (min-width: 273%) and (min-height: 515%){
    #navigation{
    width: 49%
   }
   footer{
    width:49%;
   }
}